<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>맥도날드</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>
    <div th:fragment="header">
        <div class="menu-bar">
            <div class="logo">
                <a th:href="@{/main}">
                    <img th:src="@{/images/imgi_1_logo.png}" alt="맥도날드 로고" />
                </a>
            </div>
            <div class="menu-items">
                <ul>
                    <li><a th:href="@{/menu}">Menu</a></li>
                    <li><a th:href="@{/order}">Store</a></li>
                    <li><a th:href="@{/contact}">What's New</a></li>
                    <li><a th:href="@{/story}">Story</a></li>
                </ul>
                <div class="buttons">
                    <a class="inquiry" href="#">임차문의</a>
                    <a class="recruit" href="#">RECRUIT</a>
                    <a class="eng" href="#">ENG</a>
                </div>
                <div class="search-bar">
                    <a href="#" class="search-icon">
                        <img th:src="@{/images/imgi_22_ico_search.png}" alt="검색 아이콘" />
                    </a>
                </div>
            </div>
        </div>
        <div class="header-bottom-line"></div>
    </div>
</body>
</html>