<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>맥도날드</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>
    <div th:fragment="header">
        <div class="menu-bar">
            <div class="logo">
                <a th:href="@{/main}">
                    <img th:src="@{/images/imgi_1_logo.png}" alt="맥도날드 로고" />
                </a>
            </div>



        </div>
    </div>
</body>
</html>